/* body{

    background:#f4f6f9;

    font-family:'Poppins',sans-serif;

}

.card{

    border-radius:20px;

}

.table td{

    vertical-align:middle;

}

.estado{

    display:inline-block;

    padding:10px 20px;

    border-radius:30px;

    color:white;

    font-weight:600;

}

.activo{

    background:#198754;

}

.baja{

    background:#dc3545;

}

.table th{

    width:260px;

    background:#198754;

    color:white;

}

.table td{

    background:white;

}

.navbar{

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

@media(max-width:768px){

.table th{

    width:150px;

}

} */
 body{

    background:#eef2f5;

    font-family:'Segoe UI',sans-serif;

}

.card{

    max-width:1100px;

    margin:auto;

    border-radius:20px;

}

table{

    margin-top:20px;

}

th{

    width:280px;

    background:#1f8f42 !important;

    color:white !important;

    font-weight:600;

    padding:15px !important;

}

td{

    padding:15px !important;

    background:white;

}

tr:hover td{

    background:#f5f5f5;

}

.badge{

    font-size:16px;

}

.btn{

    border-radius:30px;

    padding:10px 25px;

}

@media(max-width:768px){

th{

    width:180px;

}

.card-body{

    padding:20px !important;

}

h1{

    font-size:30px;

}

}

/* =======================================
   IMPRESIÓN QR
======================================= */

.filaQR:hover{

    background:#ecfff1;

}

.form-check-input{

    width:20px;

    height:20px;

    cursor:pointer;

}

#buscar{

    border-radius:30px;

    padding:12px 20px;

}

.table-success{

    background:#198754 !important;

}

.table-success th{

    background:#198754 !important;

    color:white;

}

#seleccionarTodo{

    border-radius:30px;

}

#imprimirQR{

    border-radius:30px;

}

.contador{

    font-size:18px;

    font-weight:bold;

    color:#198754;

}

/*=========================================
SIDEBAR
=========================================*/

body{

    background:#f4f6f9;

}

.sidebar{

    width:250px;

    min-height:100vh;

    background:#198754;

    color:white;

    display:flex;

    flex-direction:column;

    padding:25px;

}

.sidebar a{

    color:white;

    text-decoration:none;

    padding:12px;

    border-radius:10px;

    margin-bottom:8px;

    transition:.25s;

}

.sidebar a:hover{

    background:rgba(255,255,255,.15);

}

.contenido{

    padding:35px;

}

.card{

    border:none;

    border-radius:18px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}
