{% extends "maquinaria_qr/base_qr.html" %}

{% block titulo %}
Dashboard
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_mobil.css') }}">
{% endblock %}

{% block contenido %}

<div class="dashboard-mobile">

    <!-- Header -->

    <section class="dashboard-header">

        <div>

            <span class="dashboard-label">
                PANEL DE CONTROL
            </span>

            <h2 class="fw-bold">
                👋 Hola, {{ session["nombre"] }}
            </h2>

            <p class="text-muted">
                Bienvenido nuevamente.
            </p>

        </div>

    </section>

    <!-- Buscar -->

    <section class="search-section">

        <label>

            <i class="bi bi-search"></i>

            Buscar activo

        </label>

        <input type="search" class="search-input" placeholder="ACT-0001, Serie, Descripción...">

    </section>

    <!-- Resumen -->

    <section class="summary">

        <h3>

            <i class="bi bi-bar-chart"></i>

            Resumen

        </h3>

        <div class="stats-grid">

            <div class="stat-card">

                <div class="icon-box">

                    <i class="bi bi-box-seam"></i>

                </div>

                <div>

                    <h3>217</h3>

                    <span>Activos</span>

                </div>

            </div>

            <div class="stat-card">

                <div class="icon-box warning">

                    <i class="bi bi-tools"></i>

                </div>

                <div>

                    <h3>12</h3>

                    <span>Mantenimiento</span>

                </div>

            </div>

            <div class="stat-card">

                <div class="icon-box primary">

                    <i class="bi bi-file-earmark-text"></i>

                </div>

                <div>

                    <h3>5</h3>

                    <span>Solicitudes</span>

                </div>

            </div>

            <div class="stat-card">

                <div class="icon-box secondary">

                    <i class="bi bi-truck"></i>

                </div>

                <div>

                    <h3>84</h3>

                    <span>Importados</span>

                </div>

            </div>

        </div>

    </section>

</div>

{% endblock %}