{% extends 'base.html' %}

{% block titulo %}
Inventario Vital Health
{% endblock %}

{% block contenido %}

<div class="row justify-content-center">

    <div class="col-lg-7">

        <div class="card shadow-lg border-0 p-5">

            <div class="text-center">

                <h1 class="display-5 fw-bold text-success">

                    <i class="bi bi-box-seam-fill"></i>

                    VITAL HEALTH

                </h1>

                <p class="text-muted fs-5">

                    Sistema de Inventario de Activos

                </p>

            </div>

            <div class="mt-5">

                <input
    id="codigo"
    type="text"
    class="form-control"
    placeholder="ACT-0001"
    onkeypress="if(event.key==='Enter') buscar();">

            </div>

            <a href="/imprimir" class="btn btn-primary w-100 mt-3">

    <i class="fa fa-print"></i>

    Imprimir Etiquetas QR

</a>

            <a href="/dashboard" class="btn btn-primary w-100 mt-3">

    <i class="fa fa-print"></i>

Reportes
</a>

            <div class="d-grid mt-4">

                <button
                    class="btn btn-success btn-lg"
                    onclick="buscar()">

                    <i class="bi bi-search"></i>

                    Buscar Activo

                </button>

            </div>

            <hr class="my-5">

            <div class="text-center text-secondary">

                También puedes escanear el código QR colocado en la máquina.

            </div>

        </div>

    </div>

</div>

{% endblock %}